@mixin joy{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 110px;
    .home{
        color: black;
        font-size: 18px;
    }
    .page{
        color: #8F8F8F;
    }
}

@mixin sec {
    padding: 50px 0px 10px;

    .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        h3 {
            font-size: 38px;
            font-weight: 700;
        }

        .hammasi {
            display: flex;
            align-items: center;
            gap: 15px;
            color: #606060;
            transition: 0.4s;
            font-size: 16px;

            &:hover {
                color: blue;
            }
        }
 
        @media(max-width: 750px) {
            h3 {
                font-size: 34px;
            }
        }

        @media(max-width: 650px) {
            h3 {
                font-size: 30px;
            }
        }

        @media(max-width: 550px) {
            h3 {
                font-size: 26px;
            }

            .hammasi {
                font-size: 14px;

                i {
                    font-size: 12px;
                }
            }
        }

        @media(max-width: 400px) {
            align-items: center;

            h3 {
                font-size: 24px;
            }

            .hammasi {
                width: 130px;
                font-size: 13px;

                i {
                    font-size: 12px;
                }
            }
        }
    }

    .card {
        display: flex;
        justify-content: space-between;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(4, 23%);



        .box {
            background: white;
            padding: 5px 10px;
            border-radius: 6px;
            transition: .5s;

            &:hover {
                box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
                transition: .5s;

                .img .heard {
                    right: 0;
                }

            }

            .img {
                img {
                    width: 100%;
                }

                position: relative;
                overflow: hidden;

                .heard {
                    position: absolute;
                    top: 0;
                    right: -20%;
                    background: #F3F2F1;
                    color: #414141;
                    padding: 5px 5px 2px 5px;
                    font-size: 18px;
                    border-radius: 3px;
                    transition: .5s;

                    &:hover {
                        color: red;
                    }
                }
            }

            .info {
                font-size: 16px;
                color: #414141;
            }

            .stars {
                padding: 8px 0px;
            }

            .btn {
                padding: 8px 20px;
                border: 1px solid #70C05B;
                border-radius: 5px;
                background: white;
                color: #70C05B;
                font-size: 16px;
                width: 100%;
                transition: .5s;

                &:hover {
                    background: #FF6633;
                    border-color: #FF6633;
                    color: white;
                }
            }
        }

        @media (max-width:900px) {
            grid-template-columns: repeat(3, 32%);

            .box:nth-child(4) {
                display: none;

            }
        }

        @media (max-width:680px) {
            grid-template-columns: repeat(2, 48%);

            .box:nth-child(3) {
                display: none;

            }
        }

        @media (max-width:460px) {
            grid-template-columns: repeat(1, 100%);
            width: 80%;
            margin: 0 auto;
        }

        @media (max-width:360px) {
            width: 100%;
        }
    }
}